<% provide(:title, 'Hubs') %>
<% provide(:class_text, 'hub') %>
<% provide(:button_text, '作成する') %>
<%= render 'shared/error_messages', object: @hubs %>
<h1>拠点一覧</h1>

<div class="col-md-10 col-md-offset-1">
  <table class="table table-striped table-bordered table-condensed table-hover" id="table-hubs">
    <htead>
      <tr>
        <th></th>
        <th></th>
        <th class="center">拠点番号</th>
        <th class="center">拠点名</th>
        <th class="center">勤怠種類</th>
      </tr>
    </htead>
    
    <tbody>
      <!--拠点の繰り返し処理-->
    </tbody>
  </table>
</div>